@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color: #233349;
}

h1,
h2 {
    font-family: 'Libre Baskerville', sans-serif;
    letter-spacing: 4px;
    color: #422a3d;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    /* no dots in front of the list items */
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* removes the lines on menu items */
    color: inherit;
    /* to inherit the color from the closest parent that has the color set. (<body> element). */

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    /* to underline when we hover over the menu with the cursor. */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}