@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color: #233349;
}

h1,
h2 {
    font-family: 'Libre Baskerville', sans-serif;
    letter-spacing: 4px;
    color: #422a3d;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}