@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color: #233349;
}

h1,
h2 {
    font-family: 'Libre Baskerville', sans-serif;
    letter-spacing: 4px;
    color: #422a3d;
}

#logo {
    float: left;
    font-size: 200%;

    margin-left: 30px;
    /* to keep away the logo from the side of the page. */

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
    /* the text will vertically center itself within its line-height.*/
}


#menu li {
    float: right;
    list-style-type: none;
    /* no dots in front of the list items */
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* removes the lines on menu items */
    color: inherit;
    /* to inherit the color from the closest parent that has the color set. (<body> element). */

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    /* to underline when we hover over the menu with the cursor. */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* reading child image and cover text */

#reading-child-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* an alternative to clear: both. */

    position: relative;
    /* set its position to relative so that the child containers can set their absolute position relative to it. */

}

#cover-text,
#cover-text h2 {
    color: #fff;


}

#reading-child-image {
    height: 600px;
    width: 100%;
    background: url('../images/reading-child.webp') no-repeat center center;
    /* to prevent the image being repeated in the event of it being smaller than the window.*/

    /* zoom effect will run on loading page*/
    animation-name: reading-child-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* making a zoom for reading child image on home page */

@keyframes reading-child-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
        /* increase in size by 10% */
    }
}

#cover-text {
    font-size: 130%;
    font-family: Libre Baskerville, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(75, 68, 83, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* reading club motivational quotes */
#club-motives {
    height: 600px;
}

#left-view {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-view {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-view {
    width: 33%;

    /* there's no float : center, so set the margin to "0 auto" to center the entire div.*/
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-view-heading {
    width: 70%;
    float: right;
    line-height: 20px;
    clear: both;
    /* we ensure that each content block is aligned vertically. */
    margin-bottom: 50px;
    /* put space between the divs */
}

.right-view-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    /* we ensure that each content block is aligned vertically. */
    margin-bottom: 50px;
    /* put space between the divs */
}

/* icons on the left and the right-hand side are aligned towards the center image. */
.right-view-heading h2 {
    text-align: right;
}

.right-view-heading p {
    text-align: right;
}

#motto {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 550px;
    height: 550px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;

    /* to make the circle, works for containers with an equal height and width dimensions */
    border-radius: 50%;

    /* centering the circle container */
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/book-reader.jpg') no-repeat center center;

    /* need to give the div a height or the image won’t show up. */
    height: 100%;

    /* to make the image look circle */
    border-radius: 50%;
}

#meetup-times {
    background-image: url('../images/meetup-times-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}